.week {
  list-style-type: none;
  position: relative;
  right: 0px;
}
.container {
  font-family: Arial, Helvetica, sans-serif;
  color: #5a6275;
  max-width: 800px;
}
.search {
  text-align: center;
}
.box {
  position: relative;
  left: 350px;
  top: 30px;
  border: 1px solid rgb(242, 244, 247);
  border-radius: 10px;
  max-width: 200px;
  background-color: rgbrgb(242, 244, 247);
}
.small {
  position: relative;
  top: 30px;
}
.today {
  text-align: left;
}
.weather-app {
  border: 1px solid #dadde1;
  padding: 30px;
  margin: 20px auto;
  border-radius: 10px;
}
.table {
  display: table;
  margin: 0 auto;
}
.week {
  font-size: 20px;
}
